.introwrapper{
    box-sizing: border-box;
    width: 100vw;
    height: calc(100vh - (100vw * 0.8 * 0.05));
    display: flex;
    justify-content: center;
    transition: opacity 2s ease-in-out;
}

.intro{
    width: 80%;
    display: flex;
    align-items: center;
}

.blurb{
    width: 80%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: max-content;
    gap: calc(0.5vmax)
}
.name{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: calc(100vw / 21);
    display: flex;
    align-items: center;
    transform: translateX(-200%);
    transition: transform 1s;
    transition-delay: 100ms;
}


.description{
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    font-size: calc(100vw / 25);
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    transform: translateX(-200%);
    transition: transform 1s;
    transition-delay: 200ms;
}

.shortdesc{
    height: 44%;
    width: 90%;
    font-family: 'Montserrat';
    color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    font-size: calc(100vw / 60);
    transform: translateX(-200%);
    transition: transform 1s;
    transition-delay: 300ms;
}

@media only screen and (max-width: 768px){
    .blurb{
        width: 100%;
        font-size: calc(100vw /16);
        overflow: visible;
    }

    .name{
        font-size: 100%;
        align-self: center;
        overflow-wrap: normal;
    }

    .description{
        font-size: 80%;
        align-self: center;
    }

    .shortdesc{
        align-self: center;
        text-align: center;
        font-size: 40%;
    }

}

@media only screen and (max-width: 650px) {
    .intro{
        width: 90%;
    }

    .name{
        font-size: 119%;
    }

    .description{
        font-size: 99%;
    }

    .shortdesc{
        width: fit-content;
        font-size: 60%;
    }
}