.contactwrapper{
    /* border: 1px solid red; */
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contact{
    /* border: 1px solid blue; */
    box-sizing: border-box;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.textbox{
    /* border: 1px solid yellow; */
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    height: 5%;
    width: 100%;
}

.text{
    color: white;
    font-size: calc(100vw / 25);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 800;
    background-color: rgb(17,18,21);
    padding-left: calc(100vw / 50);
    padding-right: calc(100vw / 50);
    transform: translateY(10%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out, ease-in-out;
}

.line{
    width: 50%;
    height: 1px;
    background-color: rgba(255, 255, 255, 0.5);
    transform: scaleX(0);
    transition: transform 500ms ease-in;
}

.lineright{
    transform-origin: left;
}

.lineleft{
    transform-origin: right;
}

.descbox{
    /* border: 1px solid purple; */
    box-sizing: border-box;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 800;
    /* width: 60%; */
    color: rgba(255, 255, 255, 0.5);
    font-size: calc(100vw / 70);
    transform: translateY(10%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out, ease-in-out;
}

.linkswrapper{
    width: 30%;
    display: flex;
    justify-content: space-between;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: calc(100vw / 70);
    font-weight: 800;
    transform: translateY(10%);
    opacity: 0;
    transition-property: transform, opacity;
    transition-duration: 500ms, 500ms;
    transition-timing-function: ease-in-out, ease-in-out;
}

.linkswrapper > div:hover{
    cursor: pointer;
}

@media only screen and (max-width: 1050px){
    .text{
        font-size: 5vw;
    }

    .descbox{
        font-size: 2vw;
    }

    .linkswrapper{
        font-size: 2vw;
        width: 40%;
    }
}

@media only screen and (max-width: 750px){
    .text{
        font-size: 7vw;
    }

    .descbox{
        font-size: 2vw;
        width: 100%;
    }

    .linkswrapper{
        font-size: 2vw;
        width: 40%;
    }
}

@media only screen and (max-width: 450px){
    .text{
        font-size: 12vw;
    }

    .descbox{
        font-size: 4vw;
        width: 90vw;
    }

    .linkswrapper{
        font-size: 5vw;
        width: 100%;
    }
}

