.navbarwrapper{
    /* border: 1px solid red; */
    /* --setopacity: 0%; */
    box-sizing: border-box;
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: calc(100vw / 50);
    /* padding-right: 4vw;
    padding-left: 4vw;
    padding-top: 15px; */
    /* opacity: 0%; */
    transition: opacity 2s ease-in-out;
    /* margin-bottom: 15px; */
    /* border: 1px solid blue; */
    /* height: 70px; */

    /* border: 1px solid red; */
}
.navbar{
    padding: 10%, 10%, 10%, 10%;
    width: 80%;
    /* border: 1px solid purple; */
    display: flex;
    justify-content: space-between;
}

.navlist{
    font-family: 'Montserrat';
    /* width: 30%; */
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(100vh / 50);
    gap: calc(100vw / 90);
    /* border: 1px solid blue; */
}

.navlist div:hover{
    cursor: pointer;
}

.listitem1{
    display: flex;
    transform: translateY(-300%);
    transition: transform 1000ms;
    transition-delay: 600ms;
    /* border: 1px solid red; */
}

.listitem2{
    transform: translateY(-300%);
    transition: transform 1000ms;
    transition-delay: 700ms;
}

.listitem3{
    transform: translateY(-300%);
    transition: transform 1000ms;
    transition-delay: 800ms;
}

.listitem4{
    transform: translateY(-300%);
    transition: transform 1000ms;
    transition-delay: 900ms;
}

.logowrapper{
    width: 5%;
    min-width: 60px;
    /* aspect-ratio: 196 / 131; */
    transform: translateY(-200%);
    transition: transform 1000ms;
    transition-delay: 500ms;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoimage{
    width: 100%;
    aspect-ratio: 196 / 131;
}