@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.App{
  display: flex;
  flex-direction: column;
  position: relative;
}

html::-webkit-scrollbar {
  width: 0px;
  display: none;
}

html::-webkit-scrollbar {
  width: 0px;
  display: none;
}

.main{
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
